@tailwind base;
@tailwind components;
@tailwind utilities;

}

}

}

@layer base {
  :root {
    /* COLORS */
    --primary: 45, 91, 255 /* ##2D5BFF */;
    --secondary: 98, 132, 253 /* #6284FD */;
    --tertiary: 150, 173, 255 /* #96ADFF */;
    --quaternary: 236, 240, 255 /* #ECF0FF */;

    --hover: 27, 74, 240 /* #1B4AF0 */;
    --click: 0, 46, 208 /* #002ED0 */;
    --icon: 124, 123, 123 /* #7C7B7B */;
    --outline: 215, 215, 215 /* #D7D7D7 */;
    --divider: 237, 237, 237 /* #EDEDED */;

    --disabled: 138, 138, 138 /* #8A8A8A */;

    --bg-light: 255, 255, 255 /* #FFFFFF */;
    --bg-dark: 248, 248, 248 /* #F8F8F8 */;
    --bg-disabled: 239, 239, 239 /* #EFEFEF */;

    --text-primary: 24, 24, 24 /* #181818 */;
    --text-secondary: 92, 92, 92 /* #5C5C5C */;
    --text-tertiary: 116, 116, 116 /* #747474 */;

    /* SHADOWS */
    --shadow-sm: box-shadow: 0 0 10px 0 rgba(132, 132, 132, 0.15);
    --shadow-md: box-shadow: 0 0px 20px 0 rgba(132, 132, 132, 0.2);
    --shadow-lg: box-shadow: 0 0px 30px 0 rgba(132, 132, 132, 0.25);
    --shadow-focus: box-shadow: 0 0px 0 2px rgba(100, 50, 150, 1);
    --shadow-outline: box-shadow: 0 0px 0 2px rgba(232, 232, 232, 1);
    --shadow-button-focus: box-shadow: 0 0px 0 2px rgba(175, 75, 254, 1);

    /* BLUR */
    --blur: 4px;

    /* BORDER RADIUS */
    --border-radius-none: 0 /* 0 */;
    --border-radius-sm: 4px /* 4px */;
    --border-radius-md: 8px /* 8px */;
    --border-radius-lg: 16px /* 16px */;

  .theme-violet {
    --primary: 175, 75, 254 /* #AF4BFE */;
    --secondary: 190, 116, 249 /* #BE74F9 */;
    --tertiary: 226, 189, 255 /* #E2BDFF */ ;
    --quaternary: 245, 232, 255 /* #F5E8ff */;
  }
}
